@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  width: 4px;
  height: 4px;
  background-color: #cecece;
}

*::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: #838383;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

label {
  color: rgb(20, 20, 20);
}

input,
select {
  padding: 0.25rem;
  background-color: #ffffff;
  border: 2px solid #cecece;
  border-radius: 0.25rem;
  color: #111111;
}

option {
  border-radius: 0.25rem;
  outline: none;
}

.map_pin {
  background-image: url("/logo.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.picker {
  background-image: url("/pickerIcon.png");
  background-size: contain;
  width: 20px;
  height: 20px;
}
