@import "./../../Variables.scss";

.ChatViewer {
  flex: 7;
  height: 720px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  & .slider_container {
    width: 100%;
    height: calc(720px - 3rem);
    padding: 0 1rem;
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;

    transition: all 0.25s ease;

    & .slider {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }

  & .slider_container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    z-index: 100;
    position: relative;
  }

  & .slider_container::-webkit-scrollbar-thumb {
    border-color: #3d3d3d;
    border-radius: 2.5px;
  }

  & .slider_container::-webkit-scrollbar-track-piece {
    border-color: #3d3d3d;
    border-radius: 2.5px;
  }

  & .slider_container::-webkit-scrollbar-track {
    border-color: #3d3d3d;
    border-radius: 2.5px;
  }
}
