.card {
  border-radius: 100%;

  clip-path: circle(15% at 50% 50%);
  transition: all 250ms ease;
}

.card:hover {
  animation: cardAnimation 500ms 500ms ease normal forwards;
}

.avatar {
  position: absolute;
  z-index: 1;
  transform-style: preserve-3d;
  transition: all 250ms ease;
}

.card:hover .avatar {
  animation: avatarAnimation 1s ease normal forwards;
}

.content {
  opacity: 0;
  transform: translateY(100%);
}

.card:hover .content {
  animation: contentAnimation 250ms 1s normal ease forwards;
}

@keyframes contentAnimation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes avatarAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.7) translate(-210%, -210%);
  }
}

@keyframes cardAnimation {
  from {
    border-radius: 100%;
    clip-path: circle(15% at 50% 50%);
  }
  to {
    border-radius: 0rem;
    clip-path: circle(100% at 50% 50%);
  }
}
