.section_three_content_wrapper {
  h1 {
    text-align: left;
    transform: translateX(-100%);
    opacity: 0;

    transition: all 1s ease;

    &.visible {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .card_wrapper {
    width: fit-content;
    height: fit-content;

    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;

    transform: translateY(50%);
    opacity: 0;
    transition: all 1s ease;

    &.visible {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
