$primary-color: #ffffff;
$secondary-color: #c2c3c5;
$accent-light: #21e786;
$accent-light-transparent: #21e7879d;
$accent-dark: #000000;
$accent-faint: #141b22;

$shadow-sm: 0 0 0.2rem 0.1rem $accent-light;
$shadow-md: 0 0 0.2rem 0.1rem $accent-light;
$shadow-lg: 0 0 0.2rem 0.2rem $accent-light;
