.chat_bubble {
  width: max-content;
  max-width: 80%;
  padding: 0.5rem;
  margin-top: 1rem;

  text-align: left;
  font-size: 1.1rem;

  border: 1px solid #1351fd;
  border-radius: 10px;
  background-color: #1351fd;
  color: #ffffff;
}
